
# CMake
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
CPackConfig.cmake
CPackSourceConfig.cmake

# Visual Studio Code
.vscode

# Outputs
json_demo
json_headers_only_demo
json_map_demo
json_spirit_unit_tests

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

json_spirit_integration_tests
json_spirit_integration_tests.exe
json_spirit_unit_tests
json_spirit_unit_tests.exe
CMakeLists.txt.user
